[package]
name = "rustmann"
version = "0.2.2-alpha.0"
authors = ["Ning Sun <sunng@protonmail.com>"]
description = "Rust/Tokio client for Riemann"
license = "MIT/Apache-2.0"
keywords = ["tokio", "riemann", "client"]
repository = "https://github.com/sunng87/rustmann"
readme = "README.md"
edition = "2018"

[dependencies]
tokio = {version = "0.1.22"}
futures-legacy = { version = "0.1.28", package = "futures" }
futures-preview = { version = "0.3.0-alpha.17", features = ["compat"] }
protobuf = { version = "2", features = ["with-bytes"] }
bytes = "0.4"
derive_builder = "0.7.0"

[build-dependencies]
protoc-rust = "2"
